body {
    text-align: center;
}

main {
    display: inline-block;
    position: relative;
}

#mode {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 19, 19, 0.8);
    color: white;
    text-align: center;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

h1,
p {
    color: #AAAAAA;
    font-size: 17px;
}

#menu p {
    width: 140px;
    font-size: 24px;
    padding: 6px 3px 3px;
    margin: 15px;
    border: solid 1px #AAAAAA;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    color: #AAAAAA;
}

#menu p:hover {
    border: solid 1px white;
    color: white;
}

#board {
    margin: 0 auto;
    background: #555555;
}

td.cell {
    pointer-events: none;
    background: rgb(128, 216, 154);
    width: 92px;
    height: 92px;
    margin: 4px;
}

#nextline {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.cell div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.hide {
    display: none !important;
}

.black {
    background: black;
    border: solid 2px black;
}

.white {
    background: white;
    border: solid 2px black
}

h2 {
    text-align: center;
    margin: 5px 0;
}

#counter {
    margin: 0 auto;
    width: 350px;
    display: flex;
    line-height: 50px;
    font-weight: bold;
    justify-content: space-between;
}

#numBlack {
    font-size: 36px;
    margin: 5px;
    width: 100px;
    height: 50px;
    background: black;
    color: white;
    border-radius: 5px;
}

#numWhite {
    font-size: 36px;
    margin: 5px;
    width: 100px;
    height: 50px;
    border: solid 1px black;
    border-radius: 5px;
}

.Possible {
    pointer-events: auto;
    background: rgb(181 239 177);
    width: 92px;
    height: 92px;
    margin: 4px;
}

.Possible:hover {
    background: rgb(245, 245, 222);
}

.Possible div {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}

/* end */
#restartBtn {
    z-index: 1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    color: black;
    background: white;
}

#value3 {
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
}

h3 {
    opacity: 0.5;
    position: relative;
    font-size: 22px;
    height: 35px;
    margin: 5px 50px 0 50px;
    border: solid 1px black;
    border-radius: 10px 0px 0px 10px;
    padding: 0.5rem 1.5rem 0.3rem 1.5rem;
    word-break: break-all;
    color: #ffffff;
    background: #000;
}

h3.selected {
    opacity: 1;
}

h3.w {
    color: #000;
    background: #fff;
}

h3:after {
    position: absolute;
    top: -1px;
    right: -41px;
    width: 0;
    height: 0;
    content: '';
    border: solid 1px black;
    border-width: 49px 40px 0 0;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

h3:hover {
    background: rgb(78, 78, 71);
}

h3 span {
    text-align: left;
    font-size: 2.5rem;
    letter-spacing: -4px;
    width: 47px;
    position: absolute;
    top: 0;
    right: -78px;
    display: block;
    padding-top: 4px;
    padding-right: 10px;
    color: #000000;
}