<!DOCTYPE html>
<html>
  <head>
    <title>Othello Game</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/radiobutton.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/styles.css')}}"
    />
  </head>

  <body>
    <main>
      <div id="mode">
        <h1>Othelo</h1>
        <div id="nextline">
          <p>黒のプレイヤーを設定してください</p>
          <ul>
            <li>
              <input type="radio" id="b0" name="b-selector" checked />
              <label for="b0">人間</label>

              <div class="check"></div>
            </li>

            <li>
              <input type="radio" id="b1" name="b-selector" />
              <label for="b1">ランダム</label>

              <div class="check">
                <div class="inside"></div>
              </div>
            </li>

            <li>
              <input type="radio" id="b2" name="b-selector" />
              <label for="b2">AI</label>

              <div class="check">
                <div class="inside"></div>
              </div>
            </li>
          </ul>

          <p>白のプレイヤーを設定してください</p>
          <ul>
            <li>
              <input type="radio" id="w0" name="w-selector" checked />
              <label for="w0">人間</label>

              <div class="check"></div>
            </li>

            <li>
              <input type="radio" id="w1" name="w-selector" />
              <label for="w1">ランダム</label>

              <div class="check">
                <div class="inside"></div>
              </div>
            </li>

            <li>
              <input type="radio" id="w2" name="w-selector" />
              <label for="w2">AI</label>

              <div class="check">
                <div class="inside"></div>
              </div>
            </li>
          </ul>
        </div>
        <div id="nextline">
          <p>実行モードを選択してください</p>
          <ul>
            <li>
              <input type="radio" id="s0" name="s-selector" checked />
              <label for="s0">通常</label>
              <div class="check"></div>
            </li>

            <li>
              <div id="exmode" class="disabled">
                <input type="radio" id="s1" name="s-selector" />
                <label for="s1">高速化</label>

                <div class="check">
                  <div class="inside"></div>
                </div>
                <p id="f-option">
                  実験回数：<br />
                  <input type="text" id="num" size="5" />回
                </p>
              </div>
            </li>
          </ul>
        </div>
        <div id="menu">
          <p id="0" class="select">無印版</p>
          <p id="1" class="select">DLC</p>
          <p id="show">ログ</p>
        </div>
      </div>
      <div id="restartBtn" class="hide">
        クリックするとスタート画面に戻ります
      </div>
      <div id="contents">
        <table id="board"></table>
      </div>
      <div id="counter" class="hide">
        <div id="numBlack"></div>
        <h2></h2>
        <div id="numWhite"></div>
      </div>

      <div id="value3" class="hide">
        <h3 id="100" class="valueselect selected red"><span class="stock">10</span>100P</h3>
        <h3 id="50" class="valueselect orange"><span class="stock">4</span>50P</h3>
        <h3 id="10" class="valueselect blue"><span class="stock">4</span>10P</h3>
      </div>
    </main>
    <script
      type="text/javascript"
      src="{{url_for('static',filename='js/main.js')}}"
    ></script>
  </body>
</html>
